@tailwind base;
@tailwind components;
@tailwind utilities;

.hideScroll::-webkit-scrollbar {
    display: none;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    transition: all 0.3s ease-in-out;
    user-select: none;
}